* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.beginning{
padding: 10px 0;
height: 200px;
background-color:  #ca5405;
}

.name{
padding: 50px;
font-family: 'Helvetica';
font-size: 50px;
line-height: 57px;
display: flex;
align-items: center;
color: #FFFFFF;
}
.element.style{
  background-image: url('./images/p.jpeg');
  background-size: cover;
  }

.img{
height: 1080px;
content: normal;
background-size: contain;
}
.header {
  height: 100px;
  background:  #ca5405;
}
.h{
  padding-left: 80px;
  padding-top: 36px;
  display: flex;
  justify-content: flex-start;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 29px;
  color: #FFFFFF
}
p{
width: 1200px;
height: 637px;
padding-left: 80px;
padding-top: 80px;
padding-right: 50px;
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 50px;
line-height: 57px;
color: #000000;
}
.footer{
width: 1440px;
height: 200px;
background: #ca5405;
}
.h2{
padding-left: 746px;
padding-right: 80px;
padding-top: 35px;
font-family: 'Helvetica';
font-size: 50px;
line-height: 157px;
display: flex;
align-items: center;
text-align: right;
color: #FFFFFF;
}