* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color:#336FD1 ;
}
.header{    
padding: 35px 50px;
display: flex;
justify-content: space-between;
background: #F8BFC7;
}

    
    ul{
        word-spacing: 10px;
    list-style: none;
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
    }
    a{ 
        word-spacing: 10px;
        color: #000000;
        text-decoration: none;
    }    

figure{
background-image:url("../8_practice/images/background.jpg") ;
height: 643px;
background-size: cover;
padding: 90px;
margin: 0;
}
.speaker-form {
    background-color: #F8BFC7;
    border: 3px solid #FFFFFF;
    border-radius: 20px;
    width: 300px;
    padding: 33px 30px 15px 30px;
    margin-bottom: 10px;
   
   
    font-family: 'Helvetica';
    color: #FFFFFF;  
  }
  
  .form-row input[type="name"],
  .form-row input[type="city"],
.form-row input[type="present"],
.form-row input[type="email"]{
 width: 100%;
 margin-bottom: 56px;
 border: none;
 border-bottom: 1px solid #FFFFFF ;
 background-color: transparent;
}

.button{
    padding: 20px 38px 20px 37px;
    background: #FEB700;
    border: 3px solid #FFFFFF;
    border-radius: 30px;

    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;  
}
    .box1 {
        padding: 30px;
    
        font-family: 'Helvetica';
        font-size: 50px;
        line-height: 57px;
        text-align: center;
        color: #FEB700;
    
        display: flex;
        align-items: center;
        justify-content: center;
    }

.footer{
    height: 90px;
    background: #F8BFC7;
}
.h1{
    
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;  
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.h2{
   
    font-family: 'Helvetica';
    font-size: 20px;
    line-height: 23px;  
    display: flex;
    align-items: center;
    color: #FFFFFF;
}