* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header{
    position: absolute;
    width: 1440px;
    height: 140px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: #FFFFFF;
  }
  .text{
    padding: 50px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #E50043;
  }
  .menu{
    margin-top: 50px;
  }
  .menu > li {
    margin: 0 50px 0 50px;
    display: inline;
    font-family: 'Arial';
    font-size: 50px;
    line-height: 57px;
    color: #E50043;
  }
  .hero-block{
        margin-top: 140px;
        background: no-repeat;
        height: 950px;
        background: url(./images5/evian_origins_logo.jpg);
    position: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    font-size: 50px;
    line-height: 115px;
    align-items: center;
    text-align: center;
    display: flex;
    color: #E50043;
    background-size: 100%;
  }
  .border{
    margin: 150px 199px 0 201px;
    box-sizing: border-box;
    position: center;
    width: 1040px;
    height: 280px;
    border: 3px solid #F8BFC7;
    border-radius: 20px;
  }
  .text1{
    margin: 24px;
  }
  .h{
    margin-bottom: 10px;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
  }
  .p{
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
  }
.bottle{
    display: flex;
        justify-content: center;
        padding: 150px 200px 156px 200px;
}
.bottle1{
    margin: 150px 100px 0 0;
    width: 281px;
height: 863px;
left: 200px;
top: 1670px;
background: url(./images5/wang.jpg);
font-family: 'Arial';
font-size: 25px;
line-height: 29px;
display: flex;
align-items: flex-end;
text-align: center;
color: #000000;
}
.bottle2{
    margin: 150px 100px 256px 100px;
    width: 279px;
    height: 863px;
    left: 581px;
    top: 1670px;
    background: url(./images5/blue.jpg);
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    
    }
    .bottle3{
        margin: 150px 0 256px 100px;
        width: 280px;
        height: 863px;
        left: 960px;
        top: 1670px;
        background: url(./images5/chiara.jpg);
        font-family: 'Arial';
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #000000;
        
        }
.border-flex{
    display: flex;
    justify-content: space-around;
}
.img{
margin: 30px 0 30px 80px;
width: 101px;
height: 220px;
}
.text4{
margin: 30px 30px 30px 80px ;
font-family: 'Arial';
font-size: 25px;
line-height: 29px;
letter-spacing: 0.05em;

color: #000000;

}
.h2{
   font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
}
.p2{
    margin-top: 1em;
    font-family: 'Arial';
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.05em;
    color: #000000;
  }
.footer{
    margin-top: 150px;
    margin-bottom: 0;
    width: 1440px;
    height: 140px;
    background: #F8BFC7;
}
.h3{
    padding: 50px 50px 50px 50px;
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400px;
    font-size: 30px;
    line-height: 57px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}