* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .header{
    height: 100px;
    background-color: #0b24fb;

    
    font-family: 'Helvetica';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #FFFFFF;
  }
  
  .boxes-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box {
    margin: 10px;
    width: 45%; 
    height: 165px;
    box-sizing: border-box;
    border: 5px solid #000000;

    

   
    
    width: 330px;
    height: 165px;
    left: 23px;
    font-family: 'Helvetica';
    font-size: 25px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
  }

  .footer{
    height: 100px;
    background-color: #0b24fb;

    font-family: 'Helvetica';
    font-style: normal;
    font-size: 25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #FFFFFF;
  }


  @media only screen and (max-width: 850px){
    .box {
        width: 100%;
      }
  }